<div style="width: 450px">
    <div style="margin-bottom: 3em;">
        <h3 class="empinfo-header">Employee Info</h3>
        <form style="margin-left: 1em" (submit)="generatePayslip()" #infoForm="ngForm" >
        <table class="payroll-table info-column" cellspacing="0">
            <tr>
                <td>
                    <input type="text" placeholder="First Name" content="Eran" class="form-control" name="firstName" required [(ngModel)]="employeeInfo.firstName">
                </td>
                <td style="padding-left: 1em">
                    <input type="text" placeholder="Last Name" class="form-control" name="lastName" required [(ngModel)]="employeeInfo.lastName">
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="number" placeholder="Annual Salary" class="form-control" name="salary" required [(ngModel)]="employeeInfo.salary">
                        <span class="input-group-addon">.00</span>
                    </div>
                </td>
                <td style="padding-left: 1em">
                    <div class="input-group">
                        <span class="input-group-addon">%</span>
                        <input type="number" placeholder="Super Rate" class="form-control" name="superRate" required [(ngModel)]="employeeInfo.superRate">
                    </div>
                </td>
            </tr>
        </table>
        <button type="submit"
                class="submit-button btn btn-default"
                style="float: right; margin-top: 10px"
                [disabled]="!infoForm.form.valid">Generate Payslip</button>
        </form>
    </div>
    <div class="payment-made" *ngIf="!payslip.show && hasError">{{errorMessage}}</div>
    <div *ngIf="payslip.show && !hasError">
        <h3 class="payslip-header">Payslip</h3>
        <h4 class="payslip-user-info">{{payslip.info.firstName}} {{payslip.info.lastName}}</h4>
        <table class="payroll-table payslip-column" cellspacing="0">
            <tr>
                <td>Pay Date</td>
                <td>{{payslip.info.payDate | date:'dd MMMM y'}}</td>
            </tr>
            <tr>
                <td>Pay Frequency</td>
                <td>{{payslip.info.payFrequency}}</td>
            </tr>
            <tr>
                <td>Annual Income</td>
                <td>{{payslip.info.annualIncome | currency:'USD':true}}</td>
            </tr>
            <tr>
                <td>Gross Income</td>
                <td>{{payslip.info.grossIncome | currency:'USD':true}}</td>
            </tr>
            <tr>
                <td>Income Tax</td>
                <td>{{payslip.info.incomeTax | currency:'USD':true}}</td>
            </tr>
            <tr>
                <td>Net Income</td>
                <td>{{payslip.info.netIncome | currency:'USD':true}}</td>
            </tr>
            <tr>
                <td>Super</td>
                <td>{{payslip.info.superAnnuation | currency:'USD':true}}</td>
            </tr>
            <tr>
                <td>Pay</td>
                <td>{{payslip.info.pay | currency:'USD':true}}</td>
            </tr>
        </table>
    </div>
</div>
