.payroll-table {
    padding-left: 30px;
    width: 100%;
}

table.info-column td{
    font-size: 0.7em;
    font-family: sans-serif;
    color: rgba(35, 35, 35, 0.96);
}

table.info-column tr{
    height: 4em;
}

table.payslip-column td{
    font-family: sans-serif;
    color: rgba(35, 35, 35, 0.96);
    border-bottom: solid 1px rgba(35, 35, 35, 0.1);
}

table.payslip-column tr{
    height: 3em;
}

.empinfo-header{
    -webkit-margin-after: 0.8em;
    color: rgba(35, 35, 35, 0.96);
}

.payslip-header{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0.8em;
    color: rgba(35, 35, 35, 0.96);
}

.payslip-user-info{
    -webkit-margin-before: 0.2em;
    -webkit-margin-after: 0.8em;
    font-family: sans-serif;
    color: rgba(35, 35, 35, 0.96);
}

.payment-made {
    font-size: large;
    text-align: center;
    margin-top: 4em;
    color: #ff0000;
}

